*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Header section starts here*/
.header{
    background-color:  #1f2937;
    display: flex;
    width: 100%;
    height: 500px;
    
}
.nav{
    width: 80%;
    height: 80;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0 10% 0 10%;
}
.nav h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #f9faf8;
    padding: 0px;
}
.nav li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
}

.intro{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10% 10%;

}

.intro div{
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #f9faf8;
}

.intro h3{
    font-size: 48px;
    font-weight:900px;
}

.intro p{
    font-size: 18px;
    color: #E5E7EB;
}

.intro button{
    margin-top: 10px;
    border-style: none;
    cursor: pointer;
}
.header_img{
    height: 250px;
    width: 500px;
    padding-right: 2%;
}
/*header section ends here*/

/*The main section starts here*/
.main_body{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_body h2{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px 20px;
}
.content{
    height: auto;
    width: 100%;
    background-color: #ffffffec;
    display: flex;
    justify-content: center;
}
.contents{
    height: 280px;
    width: 16%;
    border-radius: 10px;
    border: 1px solid rgb(227, 227, 230);
    margin-bottom: 70px;
    margin-left: 15px;
    color: #191a19;
    font-size: 18px;
    text-align: center;
}

.contents img{
    width: 100%;
    height: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.contents p{
    padding: 5px 0px;
}
.quote{
    height: 300px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    font-family:Impact, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: lighter;
}
.quote p{
    margin-top: 70px;
}
.quote span{
    font-size: 24px;
    float: right;
}
.action{
    height: 350px;
    width: 100%;
    background-color: #ffffffec;
    display: flex;
    justify-content: center;
}
.action_holder{
    width: 80%;
    height: 150px;
    background-color: #3882f6;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.action_holder div{
    width: 60%;
    color: #f9faf8;
    
    margin-top: 40px;
}
.action_holder div p{
    font-size: 18px;
}
.action_holder div h3{
    font-size: 24px;
    font-weight: bolder;
}
.action_holder button{
    margin-top: 50px;
}
.btn_signup{
    width: 150px;
    height: 40px;
    background-color: #3882f6;
    border-radius: 10px;
    border-style: solid;
    border-color: #f9faf8;
    color: #f9faf8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/* The main section ends here*/

/*Footer starts here*/
.footer{
    background-color:  #1f2937;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #f9faf8;
}
/*Footer starts here*/